spring:

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER}
          audiences:
            - ${AZURE_APP_CLIENT_ID}
      client:
        registration:
          eux-oppgave-credentials:
            provider: azure
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            scope: ${CLIENT_EUXOPPGAVE_SCOPE}
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            client-authentication-method: client_secret_basic
          eux-nav-rinasak-credentials:
            provider: azure
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            scope: ${CLIENT_EUXNAVRINASAK_SCOPE}
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            client-authentication-method: client_secret_basic
          saf-credentials:
            provider: azure
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            scope: ${CLIENT_SAF_SCOPE}
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            client-authentication-method: client_secret_basic
          dokarkiv-client-secret-basic-credentials:
            provider: azure
            authorization-grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            scope: ${CLIENT_DOKARKIV_SCOPE}
            client-id: ${AZURE_APP_CLIENT_ID}
            client-secret: ${AZURE_APP_CLIENT_SECRET}
            client-authentication-method: client_secret_basic
          dokarkiv-private-key-jwt-credentials:
            provider: azure
            authorization-grant-type: client_credentials
            scope: ${CLIENT_DOKARKIV_SCOPE}
            client-id: ${AZURE_APP_CLIENT_ID}
            client-authentication-method: private_key_jwt
        provider:
          azure:
            token-uri: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}

  datasource:
    hikari:
      jdbc-url: "jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DATABASE}"
      username: ${DATABASE_USERNAME}
      password: ${DATABASE_PASSWORD}
      driver-class-name: org.postgresql.Driver
      maximum-pool-size: 2
      minimum-idle: 1
      initialization-fail-timeout: 60000

  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        use_sql_comments: false
        format_sql: false

  flyway:
    clean-disabled: false

  main:
    banner-mode: "off"

logging:
  structured:
    format:
      console: logstash

endpoint:
  euxnavrinasak: ${CLIENT_EUXNAVRINASAK_ENDPOINT}
  euxoppgave: ${CLIENT_EUXOPPGAVE_ENDPOINT}
  saf: ${CLIENT_SAF_ENDPOINT}
  dokarkiv: ${CLIENT_DOKARKIV_ENDPOINT}
